@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Comfortaa", system-ui, sans-serif;
    }
  }
    /**pulltorequests**/
  body {
    overscroll-behavior-y: auto;
  }
  .pull-to-refresh {
    //position: fixed;  
    top: -50px;
    width: 100%;
    height: 0px;
    max-height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.25s ease-in-out;
    background-color: #dddddd7d;
  }
  .pull-to-refresh svg {
      width:0px;
      height:0px;
  }
  .pull-to-refresh.visible svg {
      width:64px;
      height:64px;
  }
  .pull-to-refresh.visible {
    top: 0;
  }
  /**pulltorequests**/

.card-list {
    @apply grid grid-cols-1 grid-rows-1 gap-3 md:grid-cols-3 md:grid-rows-3 m-4
}
.card {
  @apply w-full border rounded-xl shadow-md shadow-gray-400/20 p-4 opacity-100;
  &.hide-delete {
    animation: remove 1s linear forwards;
  }
  &__head {
    @apply flex justify-between;
    &_title {
      @apply font-normal text-xl flex-auto;
      input {
        @apply w-full border-none bg-gray-100 rounded-xl font-medium;
        &:disabled {
            @apply bg-transparent font-normal
        }
    }
    }
    &_edit {
      @apply cursor-pointer px-1;
      & svg {
        @apply hover:text-black transition;
      }

     
    }
    &_delete {
      @apply cursor-pointer px-1;
      & svg {
        @apply hover:text-red-600 transition;
      }

     
    }
  }
  &__content {
   @apply pt-2;
    textarea {
        resize: none;
        @apply w-full border-none bg-gray-100 rounded-xl font-medium;
        &:disabled {
            @apply bg-transparent font-normal
        }
      }
  }
  &__footer {
    @apply hidden;
    &.show {
    @apply flex justify-center;
    }
    &_accept {
      @apply cursor-pointer px-2;
      & svg {
        @apply text-green-500 hover:text-green-800 transition w-8 h-8;
      }
    }
    &_decline {
      @apply cursor-pointer px-2;
      & svg {
        @apply text-red-500 hover:text-red-800 transition w-8 h-8;
      }
    }
  }
}
.addpost {
  @apply bg-purple-500 text-white hover:bg-purple-900 cursor-pointer text-center p-2 block mx-4 mb-8 rounded-lg transition
}
@keyframes remove {
  20% {
    opacity: 0;
    width: 190px;
  }
  25% {
    width: 180px;
  }
  30% {
    width: 160px;
  }
  40% {
    width: 100px;
  }
  50% {
    width: 30px;
  }
  55% {
    width: 0px;
  }
  70% {
    width: 30px;
  }
  80% {
    width: 15px;
  }
  85% {
    width: 0px;
  }
  90% {
    width: 12px;
  }
  94% {
    width: 10px;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}